/* #1b4079, #4d7c8a, #7f9c96, #8fad88, #cbdf90 */
body{
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#32292f), to(#0a0908));

    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #32292f, #0a0908);

    /* Firefox 3.6+ */
    background: -moz-radial-gradient(circle, #32292f, #0a0908);

    /* IE 10 */
    background: -ms-radial-gradient(circle, #32292f, #0a0908);
    height:600px;
}

h2 {
    color: white;
}

nav {
    background-color: #56e39f;
}

nav a {
    color: #0a0908 !important;
}

.navbar-toggler {
    border: none !important;
}

.nav-item:hover {
    opacity: 0.7;
}

.nav-item {
    opacity: 0.5;
}

#index-body .index-active, #about-body .about-active, #login-body .login-active{
    opacity: 1;
}

.about-us-title {
    margin: auto;
    margin-top: 26px;
}

.about-us-name {
    margin-top: 30px;
}

.about-us-image {
    margin-top: 10px;
    border-radius: 100%;
}

.about-us-desc {
    margin: 20px 0;
}

.about-us-link, .about-us-link:hover {
    color: #1b4079;
}

.login-title {
    margin: 50px 0;
}

.login-form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.login-form > button {
    margin-top: 20px;
    width: 100%;
}

.results {
    text-align: center;
    margin-top: 30px;
    color: red;
}

/* body > a {
    display: none;
} */

.post-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #56e39f !important;
    font-size: 30px !important;
    font-weight: bolder !important;
    width: 47px;
    height: 47px;
}

body > a[href='/approveComments'] {
    display: none;
}

.post-button > p {
    position: absolute;
    left: 12px;
    top: -2px;
}

.approve-button {
    position: fixed;
    right: 20px;
    bottom: 80px;
    background-color: #56e39f !important;
    font-size: 20px !important;
    font-weight: bolder !important;
    width: 47px;
    height: 47px;
}

.approve-button > p {
    position: absolute;
    left: 8px;
    top: 5px;
}

.post-result {
    margin: 30px auto;
    padding: 0 16px;
    padding-top: 14px;
    width: fit-content;
    width: -moz-fit-content;
    border: 1px #56e39f solid;
}

.post-title {
    color: white;
}

.post-user {
    color: white;
    margin: 10px 0;
    text-align: start;
}

.post-comment-input {
    width: 80%;
    margin-bottom: 16px;
}

.favButton {
    margin-bottom: 16px;
}

.deleteButton {
    margin-bottom: 16px;
}

label[for=Description]
{
    color: #56e39f;
    font-weight: bold;
    font-size: 25px;
}
label[for=Title]
{
    color: #56e39f;
    font-weight: bold;
    font-size: 25px;
}

.centered{
    text-align: center;
}

.post-form-class{
    padding-top: 25px;
}

.greenC{
    background-color: #56e39f !important;
}

.create-post{
    align-content: center;
}

.results{
    max-width: 450px;
    margin: auto;
    padding-top: 30px;

}

.letterStyle{
    color: black !important;
    font-weight: bold !important;
}