/* #1b4079, #4d7c8a, #7f9c96, #8fad88, #cbdf90 */

body {
    background-color: #4d7c8a !important;
}

nav {
    background-color: #1b4079;
}

nav a {
    color: white !important;
}

.navbar-toggler {
    border: none !important;
}

.nav-item:hover {
    opacity: 0.7;
}

.nav-item {
    opacity: 0.5;
}

#index-body .index-active, #about-body .about-active, #login-body .login-active{
    opacity: 1;
}

.about-us-title {
    margin: auto;
    margin-top: 26px;
}

.about-us-name {
    margin-top: 30px;
}

.about-us-image {
    margin-top: 10px;
    border-radius: 100%;
}

.about-us-desc {
    margin: 20px 0;
}

.about-us-link, .about-us-link:hover {
    color: #1b4079;
}

.login-title {
    margin: 50px 0;
}

.login-form {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.login-form > button {
    margin-top: 20px;
    width: 100%;
}